

//This file holds global color definitions, in order to ease modification
//and readibility

$themePurple: #374353;
$themeGreen: #25BEA0;
$themeOrgane: #FACC43;
$themeRed: #6F3935;

$white: #fff;
$black: #000;
