

//This file holds global color definitions, in order to ease modification
//and readibility

$themePurple: #374353;
$themeGreen: #25BEA0;
$themeOrange: #FACC43;
$themeRed: #6F3935;
$themeAqua: #255763;
$white: #fff;
$black: #000;

//Semi-transparent colours
$themePurpleST: rgba(55,67,83, 0.95);
$themeGreenST: rgba(37,190,160, 0.95);
$themeOrangeST: rgba(250,204,67, 0.95);
$themeRedST: rgba(111,57,53, 0.95);
