@import '_globalPartials';
@import '_blocks';

.block{
  height: 35rem;

  @media screen and (max-width:720px){ height: auto };

  &:hover{
    h5{
        @media screen and (min-width:768px){ font-size: 2.75rem !important };
    }
  }
}

.brief{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
}
