//compileCompressed: ../$1.min.css

//The attribute above is a parameter for the sass-autocompile package

@import '_globalPartials';

body{
  font-family:"Open Sans Condensed", "Verdana", "Arial", sans-serif;
}

.block-row {
  text-align: center;

  &:nth-of-type(even){
    .block:nth-of-type(even){ background-color: $themePurple; }
    .block:nth-of-type(odd){ background-color: $themeOrange; }
  }

  &:nth-of-type(odd){
    .block:nth-of-type(even){ background-color: $themeGreen; }
    .block:nth-of-type(odd){ background-color: $themeAqua; }
  }
}

.block {
  color: #fff;
  padding: 5rem;
  height: 25rem;
  text-align: center;

  &:hover h5{
    font-size: 2.75rem !important;
  }

  h5{
    font-weight: 600;
    transition: font-size 0.5s;
  }
}
