//compileCompressed: ../$1.min.css

//The attribute above is a parameter for the sass-autocompile package

@import '_globalPartials';

body{
  font-family:"Open Sans Condensed", "Verdana", "Arial", sans-serif;
}

h2 > img{
  width: auto;
  height: 10.0rem;
  margin-top: 2.5rem;
}


/*
#computer {
  position: relative;
  right: -700px;
}

#welcome {
  border-left: 1px solid #1c9b82;
  background-color: $themeGreen;
  position: relative;
  z-index: 2;
}
*/

#me > img{
  width: 400px;
  border-radius: 200px;
  box-shadow: 1px 0px 10px $black;
}

#welcome {
  padding-top: 5%;

  >h6{
    padding-left: 50%;
  }

  img{
    width:auto;
    height: 8rem;
  }
}
#section-1{
  background-color: $themeGreen;
  color: $white;
  font-weight: light;

  div[class*="col-"]{
    vertical-align: middle;}
}

#section-2 {
  color: $black;
  padding: 1rem 10%;
}

#section-3{
  background-color: $themePurple;
 .btn-round{
  color: $white;
  background-color: $themeOrgane;
  }
}

#section-4{
  background-color: $themeRed;
}

.tile
{
  color: $white;
  padding: 5rem 10%;
}

.section
{
  .container{
    width: 100%;
    padding: 1rem 5%;
    text-align: center;
  }

  p{
    text-align: right;
  }

  div[class*="col-"]:first-of-type{
    text-align: center;
    border-right: 2px solid;
    padding-bottom: 15px;
  }

}

@media screen and (max-width: 992px){
  #me img{width: 50%; height: auto;}
  .section p{text-align: center;}
  .section div[class*="col-"]:first-of-type{
    border-right: 0px;
    border-bottom: 2px solid;
  }
}
